*{
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    padding-top: 200px;
    background-image: url(https://i.ibb.co/7tbPv9c/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
    font-family: 'Cinzel', serif;
   

}

h1{
    font-weight: 700;
    font-weight: 700;
    font-size: 64px;
    line-height: 86px;
    color: black;
}

h1 span{
    color: #DB2777;
}

p{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 72px;
    color: rgba(44, 46, 47, 0.9);
    opacity: .9;
    font-family: 'Inter', sans-serif;
    

}

a{
    padding: 16px 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

a:hover,
.btn-primary{
    text-decoration: none;
    color: #FFFFFF;
    background: #DB2777;
    border-radius: 80px;
}
